body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  text-align: center;
}

.tile-div {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background: white;
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  pointer-events: all;
  transition: 400ms linear;
}

.tile-div h2 {
  color: white;
  text-align: center;
  margin: 30% 0%;
}

.tile-div:hover {
  cursor: pointer;
}

#gameboard-div {
  margin: auto;
  height: 300px;
  width: 300px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.blue {
  background: blue;
  border: none;
  transition: 500ms ease-out;
}

.red {
  background: red;
  border: none;
  transition: 500ms ease-out;
}

.blue:hover, .red:hover {
  cursor: not-allowed;
}

button {
  padding: 10px;
}